In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [23]:
tweetcsv = "data/tweets/clean.csv"

In [24]:
data = pd.read_csv(tweetcsv)

In [25]:
data.head()

,created_at,text
0,2014-06-07 04:58:36 +0000,what pride therein lied the salvated victim of...
1,2014-06-02 15:59:11 +0000,game of life: simple yet complex
2,2014-06-01 16:38:18 +0000,well well who do we have here paradox is back ...
3,2014-06-01 16:31:18 +0000,paradox indeed <EMOTICON>
4,2014-06-01 12:49:22 +0000,i exist therefore i may not exist

In [26]:
data.shape

(13422, 2)

In [27]:
data.head()

,created_at,text
0,2014-06-07 04:58:36 +0000,what pride therein lied the salvated victim of...
1,2014-06-02 15:59:11 +0000,game of life: simple yet complex
2,2014-06-01 16:38:18 +0000,well well who do we have here paradox is back ...
3,2014-06-01 16:31:18 +0000,paradox indeed <EMOTICON>
4,2014-06-01 12:49:22 +0000,i exist therefore i may not exist

## Convert To Datetime object

In [28]:
data['created_at'] = pd.to_datetime(data['created_at'])

In [30]:
data.head()

           created_at                                               text
0 2014-06-07 04:58:36  what pride therein lied the salvated victim of...
1 2014-06-02 15:59:11                   game of life: simple yet complex
2 2014-06-01 16:38:18  well well who do we have here paradox is back ...
3 2014-06-01 16:31:18                          paradox indeed <EMOTICON>
4 2014-06-01 12:49:22                  i exist therefore i may not exist

In [31]:
data.dtypes

created_at    datetime64[ns]
text                  object
dtype: object

## Plot Impulse Response

In [32]:
data_dt = data.set_index('created_at')

In [33]:
data_dt.head()

                                                                  text
created_at
2014-06-07 04:58:36  what pride therein lied the salvated victim of...
2014-06-02 15:59:11                   game of life: simple yet complex
2014-06-01 16:38:18  well well who do we have here paradox is back ...
2014-06-01 16:31:18                          paradox indeed <EMOTICON>
2014-06-01 12:49:22                  i exist therefore i may not exist

TypeError: Empty 'DataFrame': no numeric data to plot